.stats {
  grid-column: 2/3;
  grid-row: 2/4;
  border: 2px solid rgb(69, 58, 58);
}

.stats h1 {
  margin: 10px;
  font-family: "Montserrat";
  display: inline-block;
  border-bottom: 2px solid;
}

.chart {
  width: 100% !important;
  height: 80%;
  padding: 10px;
}
