/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"); */

.form-bg-card {
  width: 30%;
  height: fit-content;
  /* background-color: red; */
  position: absolute;
  left: 35%;
  top: 15%;

  border: solid 1px #e3e4e6;
  padding: 10px;
}

.card-form {
  font-family: "Montserrat", sans-serif;
}

.card-form h1 {
  margin-top: 0;
}

.card-form label {
  font-size: larger;
}

.card-form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 2rem;

  border: solid 2px #e3e4e6;

  border-radius: 5px;
  background-color: #f4f4f4;
  font-family: inherit;
  font-size: inherit;

  margin: 10px 0;
}

.card-form input::placeholder {
  color: #6f767e;
}

.card-form input:focus {
  outline: none;
  border-color: #2674da;
  transition: all 0.2s ease-in;
}

.card-form .sign-up {
  color: black;
  border: 2px solid grey;
  background-color: transparent;
}

.card-form .sign-up:hover {
  background-color: transparent;
  border: 2px solid #2674da;
  color: #2674da;
}

.card-form .alt-tagline {
  font-size: small;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}

.card-form hr {
  border: none;
  border-top: solid 2px #e3e4e6;
}

.card-form .alt-option {
  border: 2px solid red;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  color: red;
}

.card-form .alt-option:hover {
  background-color: red;
  color: white;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.card-form .icon {
  margin-right: 10px;
}
